<section class="productTiles">
  <div class="product-speaker-zx9">
    <div class="imageContainer">
      <img
        src="/assets/home/desktop/image-speaker-zx9.png"
        width="410"
        height="493"
        alt="product image"
      />
    </div>
    <div class="textContainer">
      <h1 class="heading-h1">zx9 speaker</h1>
      <p>
        Upgrade to premium speakers that are phenomenally built to deliver truly
        remarkable sound.
      </p>
      <a rotuerLink="/product/5" class="btn btn-custom-black"
        >see product</a
      >
    </div>
  </div>
  <div class="product-speaker-zx7">
    <div class="textContainer">
      <h4 class="heading-h4">zx7 speaker</h4>
      <a routerLink="/product/4" class="btn btn-custom-black"
        >see product</a
      >
    </div>
  </div>
  <div class="product-earphones-yx1">
    <div class="tile image"></div>
    <div class="tile">
      <div class="textContainer">
        <h4 class="heading-h4">yx1 earphones</h4>
        <a routerLink="/product/0" class="btn btn-custom-black"
          >see product</a
        >
      </div>
    </div>
  </div>
</section>
